.lead{
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;

}

.display-4{
    text-align: center;
    font-size: 80px;
    color:  rgb(56, 0, 39);
    font-family: 'Comfortaa', cursive;
}

.s1{
    color: #FF7A00;
}

.navbar {
    background-color: #2A5762;
    top: 0;
    position: relative;
    transition: top 0.5s;
    height: 70px;
}

.navbar.expand {
    top: 100px;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #FFFFFF!important;
    margin-right: 20px;
}

.nav-link:hover {
    color: #FF7A00!important;
}

.nav-item {
    list-style-type: none;
}

.nav-link2{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    margin-left: justify;
    padding-top: 17px;
}

.photo{
    width: 50px;
    padding-right: 8px;
}

.navbar-brand p{
    display: inline-block;
}
h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    text-align: center;
    margin-bottom:1em;
}
    
.card img{
    position: relative;
    margin:auto;
    margin-top: 20px;
}
    
.card-title {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: none;
    transition: 0.5s ease;
}
    
.card {
    margin: 0.7em;
    transition: 0.5s ease;
    text-align: center;
}
    
.affichage_prix h5{
    opacity: 0;
}

.card:hover {
    box-shadow: 0px 0px 4px rgba(0,0, 0,0.7);
}
    
.wild {
    font-size: 50px;
}
    
img {
    max-width: 50%;
    height: auto;
}
    
.footer {
    background-color: #009C9C;
    padding-top: 15px;
}
    
h3 {
    font-family: 'Comfortaa', cursive;
    color: rgba(5, 18, 196, 0.781);
}
    
.row {
    font-family: 'Roboto', sans-serif;
    font-size : 20px;
}
.card-img-top{
        margin-bottom:90px;
        margin-top: 80px;
}
@media screen and (max-width: 475px){
        .lead{
            text-align: center;
            color: rgb(56, 0, 39);
            font-size: 20px;
            font-family: 'Comfortaa', cursive;
            
        }
            
        .display-8{
            text-align: center;
            font-size: 40px;
            color: white;
            font-family: 'Comfortaa', cursive;
            }  

}
.col3{
    color: rgba(5, 18, 196, 0.781);
}
.navbar-nav{
    margin-left: 50px;
}
button.navbar-toggler{
    color: aliceblue;
}
.btn2{
    border: solid 1px #FF7A00;
    opacity: 0.6;
    color: #FF7A00 ;
}
.jumbotron{
    background-image: url(https://images.pexels.com/photos/1011334/pexels-photo-1011334.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260);
    text-align: center;
}
