body {
    background-image: url("images/full-bloom.png");
}

.nav-item li {
    list-style-type: none;
}

.lead{
    text-align: center;
    color: #FFFFFF;
	font-size: 30px;
    font-family: 'Comfortaa', cursive;

}

.display-8{
    text-align: center;
    font-size: 80px;
    color: #FFFFFF;
    font-family: 'Comfortaa', cursive; 
}

.s1{
    color: #FF7A00;
}


.nav-link{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.377);
    font-size: 25px;  
}

.nav-link2{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.377);
    font-size: 25px;
    margin-left: justify;
}
.nav-link:hover {
	color: #FF7A00!important;
}
.photo{
    width: 50px;
}

.navbar-brand p{
    display: inline-block;
}

/* CSS BANNIERE */

.title-banner{
	font-family: Comfortaa;
	font-size: 4.5em;
	position: absolute;
	color: #FFFFFF; /* METTRE BLANC POUR LES CAT*/
	z-index: 1;
	margin-top: 75px;
}
.fond  {
	background-image: url("images/bannerindex.jpg");
	background-size: cover;

}
.shadow {
	-webkit-filter: brightness(0.6);filter: brightness(0.6);


}
.img-cover{
	width: 100%;
	height:28rem;
	/* AJOUTER BRIGHTNESS 0.4 POUR LES PAGES CATEGORIES*/
}

.title-desc-banner{
	position: absolute;
	z-index: 1;
	font-family: Comfortaa;
	color: dimgrey; /* METTRE BLANC POUR LES CAT*/
	margin-top: 210px;
	width: auto;
	text-align: center;
}

.btn1{
	position: absolute;
	z-index: 1;
	border: solid 1px #FF7A00;
	color: #FF7A00;
	width: 120px;
	margin-top: 300px;
}

.btn1:hover{
	background-color: #FF7A00;
	color: white;
	border: none;
}

/* Categories */

#Categories h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    text-align: center;
    margin-bottom:1em;
}

.card.c img{
    position: relative;
    filter: brightness(0.3);
    max-height: 300px;
    object-fit: cover;
 }

.card.c h5 {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    transition: 0.5s ease;
}

.card.c {
    margin: 0.7em;
    transition: 0.5s ease;
}

.card.c h5:hover{
    color: #FF6541;
}

 

/**About Us**/

.secabout {
	padding-top: 60px;
	padding-bottom: 60px;

}

.aboutus {
	padding: 40px;
	width: 100%;
	height: auto;
	
}

.card-titleA {
	color: white;
	padding-top: 40px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	margin-bottom: 20px;
}

.card-textA { 
	padding: 40px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.cardAb{
	border : solid 5px #2A5762;
	background-color: #2A5762;
}


/*TOP SELLING SECTION*/

.text-center

.titre_top_selling{
	font-size: 3em;
	padding: 10px;
	font-family: Comfortaa;
}

span{
	color: #FF7A00;
}

.text-center.top_selling_txt{
	padding: 15px;
	font-family: Roboto;
	font-size: 1.5em;
	color: black;
}

.settings_card{
	max-width: 350px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.btn_ts{
	color: #FF7A00;
	border: solid 1px #FF7A00;
	font-family: Roboto;
}

.btn_ts:hover {
	background-color: #FF7A00;
	color: white;
}

.card-ts{
	border: solid 1px rgba(0, 0, 0, 0.125);
	margin-top: 13px;
	object-fit: cover;
	height: 250px;
}

.card_title_ts{
	height:75px;
	text-align: center;
}

.modal-content-ts{
	max-width: 50rem;
}

.mod-title-ts{
	font-size: 2em;
	font-family: Comfortaa;
}

.prix-ts{
	font-weight: bold;
	font-size: 2em;
}

.desc-ts{
	margin-top: 20px;
}

.carac-modal{
	margin-left: 25px;
	font-size: 2em;
}

.price{
	display: block;
	position: absolute;
	width: 120px;
	text-align: center;
	align-self: center;
	border-radius: 15px;
	margin-top: 14px;
	font-weight: bold;
	font-size: 1.4em;
	font-family: Roboto;
	opacity: 0.9;
}

/* Footer */

.footer {
	background-color: #2A5762;
	padding-top: 10px;
	padding-left: 20px;
	line-height: 40px;
}

.wild {
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'Comfortaa', cursive!important;
}
.adress {
	color: #FFFFFF;
}

.row {
	 font-family: 'Roboto', sans-serif;
	 font-size : 20px
 }

.lienfoot {
	color:#FFFFFF;
}

.lienfoot:hover {
	text-decoration: none;
	color: #FF7A00;
}

.logofooter {
    width: 18%;
}
 
.form-footer  {
	color: #FFFFFF;
}

.footer .text-center {
	color: #FFFFFF;
}


/**button **/

.btn-footer{
	border: solid 1px #FF7A00;
	background-color: #FFFFFF;
	color: #FF7A00;

}

.btn-footer:hover {
	background-color:  #FF7A00;
	color: #FFFFFF; 
}

/**texte**/

.titre {
	color: #FF7A00;
}


section {
	margin-top: 50px;
}