/**navbar **/

.lead{
    text-align: center;
    color: #FFFFFF;
    font-size: 50;
    font-family: 'Comfortaa', cursive;

}

.display-4{
    text-align: center;
    font-size: 80px;
    color:  rgb(56, 0, 39);
    font-family: 'Comfortaa', cursive; 
}

.s1{
    color: #FF7A00;
}

.navbar {
    background-color: #2A5762;
    top: 0;
    position: relative;
    transition: top 0.5s;
    height: 70px;
}
    
.navbar.expand {
    top: 100px;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #FFFFFF!important;
    margin-right: 20px;
}

.nav-link:hover {
    color: #FF7A00!important;
}

.nav-item {
    list-style-type: none;
}

.nav-link2{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    margin-left: justify;
    padding-top: 17px;
}

.photo{
    width: 50px;
    padding-right: 8px;
}

.navbar-brand p{
    display: inline-block;
}

/** jumbotron **/

.jumbotron {
	height: 28rem;
	background: transparent;

}
.fond {
	background-image: url("https://images.pexels.com/photos/934070/pexels-photo-934070.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
	position: absolute;
	width: 100%;
	height: 28rem;
	z-index: -1;
	top: 0;
	left: 0;
	background-size: cover;
	
	}
.shadow {
	-webkit-filter: brightness(0.6);filter: brightness(0.6);

}

.display-4 {
	font-size: 6em;
	
	color: #FFFFFF;
}


/** Modal **/ 

.col-lg-3  {
	max-width: 350px;
}

.col-sm-5 {
	max-width: 350px;
}
.col-md-4 {
	max-width: 350px;
}
.card {
	padding-top: 20px;
	margin-bottom: 20px;
}

.card-img-top{
	width: 16rem;
}


.textmodal {
	margin-left: 20px;
}

.prix {
	font-weight: bold;
	font-size: 1.5em;
}

li {
	list-style-type: disc;
	font-size: 0.7em;
}

.card {
	position: relative;
	
}

.top-right {
	position: absolute;
	left: 65%;
	bottom: 85%;
	font-weight: bold;
	font-size: 1em;
	opacity: 0.6;
}


/** h1 and co **/

h6 {

	font-size: 0.7em;
}

h5 {
	font-weight: bold;
	font-size: 1.2em;


}
h5, h1, h6, h2, h3 {

	font-family: 'Comfortaa', cursive;
}



/** text **/

p {
	font-family: 'Roboto', sans-serif;
}


.titre {
	color: #FF7A00;
}

/**button **/

.btn {
	border: solid 1px #FF7A00;
	background-color: #FFFFFF;
	color: #FF7A00;

}

.btn:hover {
	background-color:  #FF7A00;
	color: #FFFFFF; 
}

/**footer**/

.footer {
	background-color: #2A5762;
	padding-top: 10px;
	padding-left: 20px;
	line-height: 40px;
}

.wild {
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'Comfortaa', cursive!important;
}
.adress {
	color: #FFFFFF;
}

.row {
	 font-family: 'Roboto', sans-serif;
	 font-size : 20px
 }
.lienfoot {
	color:#FFFFFF;

}

.lienfoot:hover {
	text-decoration: none;
	color: #FF7A00;
}
 
form  {
	color: #FFFFFF;
}

.text-center {
	color: #FFFFFF;
}

.logofooter {
	width : 18%;
}

/**body **/

body {
	background-image: url("images/full-bloom.png");
}

.cardsection{
	padding-bottom: 110px;
}

/**image**/

.bébé {
	object-fit: cover;
	height: 250px;
	width: 250px;
}

.img-thumbnail {
	overflow: hidden;
}



