.lead{
    text-align: center;
    color: rgb(56, 0, 39);
    font-size: 50;
    font-family: 'Comfortaa', cursive;

}

.display-8{
    text-align: center;
    font-size: 80px;
    color:  rgb(56, 0, 39);
    font-family: 'Comfortaa', cursive; 
}

.s1{
    color: #fe6440;
}

.navbar navbar-light bg-light{
   
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    top: 0;
    position: relative;
    transition: top 0.5s;
}
    
.navbar.expand {
        top: 100px;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.377);
    font-size: 25px;  
}

.nav-link2{
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.377);
    font-size: 25px;
    margin-left: justify;
}

.photo{
    width: 50px;
}

.navbar-brand p{
    display: inline-block;
}

h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 5em;
    text-align: center;
    margin-bottom:1em;
}

.card img{
    position: relative;
}

.card h5 {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: white;
    transition: 0.5s ease;
}

.card {
    margin: 0.7em;
    transition: 0.5s ease;
}

.card:hover {
    box-shadow: 10px 5px 5px gray;
}

.card h5:hover{
    color: #FF6541;
}

.wild {
	font-size: 50px;
}

img {
	max-width: 100%;
	height: auto;
}

.footer {
	background-image:linear-gradient(to right, #FE6440, #FDBC24);
}

h3 {
	font-family: 'Comfortaa', cursive;
}

.row {
	 font-family: 'Roboto', sans-serif;
	 font-size : 20px
 }

/*TOP SELLING SECTION*/

.titre_top_selling{
	font-size: 3em;
	padding: 10px;
	font-family: Comfortaa;
}

.top_selling_txt{
	padding: 15px;
	font-family: Roboto;
}

.settings_card{
	max-width: 350px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.btn_ts{
	color: #FE6440;
	border: solid 1px #FE6440;
	margin-left: 25%;
}

.card-ts{
	border: solid 1px rgba(0, 0, 0, 0.125);
	margin-top: 13px;
}

.card_title_ts{
	height:75px;
	text-align: center;
}

/* FIN TOP SELLING SECTION*/



/**About Us**/


.container-fluid {
	padding-top: 30px;

}

.aboutus {
	padding: 15px 0px 10px 40px;
	width: 100%;
	height: auto;

}

.card-titleA {
	padding-top: 10px;
	text-align: center;
	font-family: 'Comfortaa', cursive;
	text-shadow: 2px 2px;
	margin-bottom: 20px;
}

card-textA { 
	font-family: 'Roboto', sans-serif;
	
}

